.hero-section {
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d'); 
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section .content {
  z-index: 2;
}
