
html, body, #root {
  height: 100%;
  margin: 0;
}

body, html {
  background-color: #e6f2ff; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    position: static;
  }

  .main-content {
    margin-left: 0;
    padding: 1rem;
  }

  .card-grid {
    display: flex;
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}
